* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 109%;

}
body {
  position: relative;
}
body:after {

  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #666;
  font-weight: 100;
}
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  display: flex;

  align-items: center;
  background: #e8e8e8;
  font-family: 'helvetive neue', sans-serif;
  font-weight: 700;
}
.container {
  width: 600px;
  position: relative;
    justify-content: center;
	  right: -25%;
}
.thumbnails {
  list-style: none;
  font-size: 0;
  margin-left: -2%;
}
.thumbnails li {
  display: inline-block;
  width: 23%;
  margin-left: 2%;
  text-align: center;
  vertical-align: middle;
}
.thumbnails li:hover .item-hugger {
  background: white;
}
.thumbnails li:hover .item-hugger .title {
  color: #000;
}
.thumbnails input[name="select"] {
  display: none;
}
.thumbnails .item-hugger {
  position: relative;
  height: 140px;
  margin: 20px 0;
  background: #f2f2f2;
  transition: all 150ms ease-in-out;
}
.thumbnails label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.thumbnails .title {
  padding: 20px 0 0;
  font-size: 18px;
  color: #555;
  transition: all 150ms linear;
}
.thumbnails .thumb-image {
  height: 100px;
  padding: 20px 0;
}
.thumbnails .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 500px;
  padding: 50px;
  opacity: 0;
  transition: all 150ms linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thumbnails .content .title {
  font-size: 60px;
  font-weight: 400;
  display: inline-block;
  color: #555;
  border-bottom: 6px solid #fe7701;
  padding: 50px 10px 0;
  text-transform: uppercase;
}
.thumbnails input[name="select"]:checked + .item-hugger {
  height: 180px;
  margin: 0;
  background: white;
}
.thumbnails input[name="select"]:checked ~ .content {
  opacity: 1;
}
.white-box {
  background: white;
  height: 500px;
}
