/*

	Author: Nemets Yury;
	Site: www.sitehere.ru;

*/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,900&subset=latin,cyrillic);

@font-face {
    font-family: "Blokk";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/blokk/BLOKKRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/blokk/BLOKKRegular.woff") format("woff"), url("../fonts/blokk/BLOKKRegular.svg#BLOKKRegular") format("svg");
}

html,
body {
  height:100%;
}

body{
  font:normal 100% 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  color:#DFDFDF;
}

p {
    font-family: "Blokk",Arial,sans-serif;
}

p.pInFooter {
  color:#fff;
}

.content {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#222;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:70px;   /* Высота блока "footer" */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Высота блока "footer" */
   background:#6cf;
}

/*######Стили для демо###########*/
h1.title {
  color:#f8f8f8;
  font-size: 60px;
  line-height: 80px;
  margin:20px auto;
  width: 70%;
  text-align: center;
}

h1.title span {
  display: block;
  font-size: 50px;
  line-height: 60px;
}

p.info {
  width: 30%;
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #57565B;
  margin:30px auto 50px;
}


/*Кнопка "К статье"*/
.backToSitehereBtn{
  display: block;
  width: 150px;
  height: 150px;
  background: #01BC78;
  text-align: center;
  line-height: 170px;
  font-size: 20px;
  border-radius: 50%;
  color:#fff;
  position: absolute;
  text-decoration: none;
  top:-40px;
  left:-40px;
  transform:rotate(-45deg) scale(1);
  transition:all 0.25s linear;
}

.backToSitehereBtn:hover {
  text-decoration: none;
  top:-10px;
  left:-10px;
  transform:rotate(-45deg) scale(1.3);
}