
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* 
Variables
*/
$color-white: #fff;
$color-dark: #444;
$color-gray: #333;
$color-bg: #eee;
$color-active: #1abc9c;
$gutter: 20px;
$small: "only screen and (min-width: 650px)";
$svgBlur: url("#blur");

/*
Animations
*/
@keyframes slide {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

/*
Reset
*/
*:focus {
    outline: 0; /* removes blue border on focus */
}
button {
	background: none;
 	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	display: inline-block;
	border: 0;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  heigth: 100%;
  background: #eee;
  overflow: none;
  
  &.is-blurred {
    overflow: hidden;
  
    .wrapper {
      filter: $svgBlur; /* SVG filters for browser support. */ 
      filter: blur(3px); /* works in chrome */
      -webkit-transition : -webkit-filter 500ms linear;
      pointer-events: none;
      user-select: none;
    }
  }
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/*
Typography
*/
h2 {
  color: #444;
  font-size: 30px;
  line-height: 32px;
}
p {
  color: #555;
  font-size: 16px;
  line-height: 24px;
}


.container {
    position: relative;
    margin:0 auto;
    max-width: 960px;
    box-sizing: border-box;
    padding-top: 40px;
}

article {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  
  p,
  h2 {  
    padding-bottom: $gutter;
  }
  h2 {
    padding-top: 10px;
  }
}

button {
  border: 2px solid $color-active;
  color: $color-active;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px 40px;
  cursor: pointer;
  
  &:hover {
    border-color: darken($color-active, 10%);
    color: darken($color-active, 10%);
  }
}
.modal {
  display: none;
	position: fixed;
	top: 50%;
	width: 100%;
	height: auto;
	margin-top: -150px;
  background-color: $color-white;
	border-radius: 3px;
	z-index: 999;
  box-shadow: 0px 1px 3px 0px darken($color-bg, 10%);

	@media #{$small} {
		left: 50%;
		margin-left: -260px;
		max-width: 520px;
	}
  
  &.is-active {
    display: block;
    animation: 1s linear slide; // a small animation for the modal
  }
  .inner {
    position: relative;
    padding: 20px;
  }
}
.modal__header {
	border-bottom: 1px solid darken($color-bg, 5%);
}
.modal__footer {
  text-align: center;
  
  button {
    display: inline-block;
  }
}